In [1]:
print("welcome to python")

welcome to python

In [2]:
print("welcometo python programming")
print("welcome to jupyter notebook")

welcometo python programming
welcome to jupyter notebook

In [3]:
x=123456
print(x)

123456

#markdowns

2+2

In [4]:
2+2

4

# markdowns
## markdowns
### markdowns
#### markdowns
##### markdowns
###### markdowns
#######

#### for italic and bold
* *italic*
* **italic**
* ***italic***

- normal text
    - sub 1
    - sub 2

![image](https://qph.fs.quoracdn.net/main-qimg-28cadbd02699c25a88e5c78d73c7babc)

* [drive]
https://drive.google.com/drive/my-drive

In [5]:
* [drive] (https://drive.google.com/drive/my-drive)

SyntaxError: invalid syntax (<ipython-input-5-5b1a12479eee>, line 1)

* [drive] (https://drive.google.com/drive/my-drive)

* [1]
[link](https://drive.google.com/drive/my-drive)

In [6]:
print("hello,gitam")
print("hii")

hello,gitam
hii

In [8]:
print("hello,gitam",end="$$")
print("crt")

hello,gitam$$crt

# assignment

In [9]:
a =10
a, b, c =1
a, b, c=1,2,3

TypeError: cannot unpack non-iterable int object

In [10]:
a = "python"
b = "p"
type(a)
c = 10
type(c)

int

In [11]:
a = 10.5
type(a)

float

In [12]:
a = 10.5
print(type(a))
id(a)

<class 'float'>

63165856

In [13]:
name = "ab"
age = "10"
print("my name is",name,"and age is:",age)

my name is ab and age is: 10

In [14]:
a = b = 20 #multi variable assignment with single value

In [15]:
a

20

In [16]:
b

20

In [17]:
a = b = 20

In [18]:
a

20

In [19]:
b

20

In [20]:
input("enter the string")

enter the stringpython

'python'

In [21]:
a = input("enter the number")
type(a)

enter the number10

str

In [22]:
b=input("enter the number")
type(b)

enter the number10.5

str

In [24]:
a =  int(input("enter a number"))
b = int(input("enter a number"))
c = a+b
print(c)

enter a number21
enter a number48
69

In [25]:
x=10
print(x)
type(x)

10

int

In [26]:
y=3.3
print(y)
type(y)

3.3

float

In [27]:
c=3/4
print(c)
type(c)

0.75

float

In [28]:
d=3j
print(d)
type(d)

3j

complex

In [30]:
x=float(12)
x

12.0

In [31]:
y=int(10.2)
y

10

In [33]:
z=complex(12j)
z

12j

c1 = 1+2j
c2 = 2+3j
print(c1+c2)

In [35]:
c1 = 1+2j
c2 = 2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [37]:
a = True
type(a)

bool

In [38]:
b=False
type(b)

bool

In [39]:
a>b

True

In [40]:
a<b

False

In [41]:
True>False

True

In [42]:
True<False

False

In [43]:
s1='abc'
s2="abc"
print(s1)
s2

abc

'abc'

In [44]:
type(s1)
type(s2)

str

In [45]:
i=100
print(type(i))

<class 'int'>

In [46]:
s1=str(i)
print(s1)
type(s1)

100

str

In [47]:
f1=float(i)
print(f1)

100.0

In [48]:
c1=complex(i)
print(c1)

(100+0j)

In [49]:
s=100
print(type(s))

<class 'int'>

In [50]:
a=int(s)
type(a)

int

In [52]:
f=2.3
type(f)

float

In [53]:
a1=int(f)
type(a1)

int

In [54]:
a='123457'
len(a)

6

In [56]:
b='10.5'
len(b)

4

 # operators :

In [1]:
m=1
n=2
print(m+n)
print(m-n)
print(m*n)
print(m/n)
print(m%n)
print(m//n)
print(m**n)

3
-1
2
0.5
1
0
1

In [2]:
1+2

3

In [3]:
1-2

-1

In [4]:
1*2

2

In [5]:
1/2

0.5

In [6]:
1%2

1

In [7]:
1//2

0

In [8]:
1**2

1

In [12]:
x=2
y=3
print(x>=5 and x<10)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [14]:
x=2
y=3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

In [15]:
s="abc"
print('a' in s)
print('a' not in s)

True
False

# conditional statements

* 1. if
* 2. if-else
* 3. else

- if condition:
    - stament

-elif:
    - statement
-elif:
    - statement
-elif:
    -statement
-else:
    -statement

In [4]:
a=10
if a>0:
    print("positive")

positive

In [14]:
a=-10
if a<0:
    print("negative")

negative

In [17]:
a=-10
if a>0:
    print("positive")
else:
        print ("negative")

negative

In [18]:
a=0
if a>0:
    print("positive")
elif a<0:
        print("negative")
else:
            print("zero")

zero

In [ ]:
# to check given number is even or odd
# tocheckgiven number is multiple of 3 and5